@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Playfair+Display&display=swap');

:root {
    --red: #D14234;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

body {
    background: black;
}

/* components */

section {
    min-height: 100vh;
}

h1, h2, h3 {
    color: var(--red);
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 2.5rem;
}

p {
    color: white;
    font-size: 1rem;
}

ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
}

ul > li {
    list-style: none;
    margin: 1em 2em;
}

ul > li > a {
    font-size: 1.25rem;
	font-weight: 700;
	text-decoration: none;
	color: white;
}

section.main {
    background: black;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
}

.main__heading {
	color: white;
	font-size: 2em;
	padding: 0 .5em;
	text-align: left;
	animation-name: main__heading;
	animation-duration: 5000ms;
	animation-direction: alternate;
}

@keyframes main__heading {
    from {
        transform: translateX(3000px);
    }

    to {
        transform: translateX(0px);
    }
}

blockquote {
    color: var(--red);
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    max-width: 22em;
    min-width: 10em;
    padding: 0 1em 0 0;
    text-transform: uppercase;

}

blockquote:first-letter {
    font-size: 1.25em;
}

.main__quote {
    animation-name: main__quote;
	animation-duration: 8000ms;
}

@keyframes main__quote {
    from {
        transform: translateX(3000px);
    }

    to {
        transform: translateX(0px);
    }
}

.main__portrait {
	position: absolute;
	height: 115%;
	mix-blend-mode: hard-light;
	top: -1em;
	z-index: -1;
    animation-name: portrait;
    animation-duration: 5000ms;
}

@keyframes portrait {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main__quote {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-content: end;
	align-items: end;
	max-width: 45em;
	margin-left: auto;
	margin-right: 4em;
	padding: 1em;
}

.signature {
	height: 5em;
	animation-name: signature;
	animation-duration: 8500ms;
}

@keyframes signature {
    from {
        transform: translateX(3000px);
    }

    to {
        transform: translateX(0px);
    }
}

section.early-life, .early-career__container, section.quote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1em;
    transform: translate3d(0px, 0px, 0px);
}

.early-life__img, .early-career__img {
    will-change: transform;
    transform-style: preserve-3d;
}

.early-life__text, .early-career__text {
    max-width: 25em;
    padding: 1em;
    transform: translate3d(600px, 0px, 0px);
}

.early-life__text--body, .early-career__text--body {
    display: flex;
    margin-top: 1em;
}

section.early-career {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.early-career__quote {
    text-align: center;
}

section.toll-sea {
	background: radial-gradient(transparent, black);
	position: relative;
	background-image: url(/static/frontend/images/tollofthesea.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.stardom {
    position: relative;
}

.stardom__grid-container > * > img {
    width: 100%;
}

.gradient-top {
	background: linear-gradient(black 60%, transparent);
	height: 5em;
    position: absolute;
	top: 0;
	width: 100%;
}

.gradient-bottom {
	background: linear-gradient(transparent, black 60%);
	height: 5em;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.quote__img__container {
    position: relative;
    width: 50%;
}

.quote__img__container:after {
    content: '';
    position: absolute;
    width: 30em;
    height: 30em;
    background: var(--red);
    border-radius: 50%;
    top: 0;
    right: -7em;
    z-index: -1;
    clip-path: circle(45% at center);
}

.quote__img {
    clip-path: circle(55% at center);
}

.quote > blockquote {
    font-size: 3em;
    min-width: 6em;
    padding: 0;
    text-align: left;
    width: 6em;
}

@media only screen and (min-width: 600px) {
    ul {
        flex-direction: row;
        margin: 1em 3em;
    }

    .main__heading {
        padding: 1.5em 1em .25em 0;
        text-align: right;
        font-size: 5em;
    }

    .signature {
    	margin: 1em 4em 0 auto;
    }

    .early-life__text, .early-career__text {
        margin-left: 1em;
    }

    .early-life__text-line, .early-career__text-line  {
        background: white;
        display: block;
        margin-top: 3px;
        margin-right: 5px;
        height: 3px;
        width: 40em;
    }

    section.toll-sea {
	    background-position: initial;
    }

    .stardom__grid-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 10px;
        padding: 2em;
    }

    .quote__img__container:after {
        left:0;
    }

    .quote > blockquote {
        margin: 0;
        text-align: right;
    }
}