<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anna May Wong</title>
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
</head>
<body>
<section class="main">
    <nav>
        <ul>
            <li><a href="#">Biography</a></li>
            <li><a href="/films/">Filmography</a></li>
            <li><a href="/gallery/">Gallery</a></li>
        </ul>
    </nav>
    <div>
        <img class="main__portrait" src="{% static 'frontend/images/main_portrait.jpg' %}">
        <h1 class="main__heading">Anna May Wong</h1>
        <div class="main__quote">
            <blockquote cite="http://www.worldwildlife.org/who/index.html">
                “The harder the work, the greater the satisfaction in accomplishing it.”
            </blockquote>
            <img class="signature" role="img" src="{% static 'frontend\images\signature.svg' %}" aria-label="Anna May Wong Signature" />
        </div>
    </div>
</section>
<section class="early-life">
    <img class="early-life__img scroll" src="{% static 'frontend/images/baby_anna.jpg' %}" height="500px" data-start="-600" data-ratex=".75" data-ratey="0" data-direction="right">
    <div class="early-life__text scroll" data-start="600" data-ratex=".75" data-ratey="0" data-direction="left">
        <h2>EARLY LIFE</h2>
        <div class="early-life__text--body">
            <div class="early-life__text-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl condimentum id venenatis a condimentum vitae. Purus viverra accumsan in nisl nisi. Netus et malesuada fames ac turpis. Risus nec feugiat in fermentum posuere urna. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Suspendisse faucibus interdum posuere lorem. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. </p>
        </div>
    </div>
</section>
<section class="early-career">
    <div class="early-career__container">
        <div class="early-career__text scroll" data-start="-1200" data-ratex=".75" data-ratey="0" data-direction="right">
            <h2>EARLY CAREER</h2>
            <div class="early-career__text--body">
                <div class="early-career__text-line"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl condimentum id venenatis a condimentum vitae. Purus viverra accumsan in nisl nisi. Netus et malesuada fames ac turpis. Risus nec feugiat in fermentum posuere urna. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Suspendisse faucibus interdum posuere lorem. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. </p>
            </div>
        </div>
        <img class="early-career__img scroll" src="{% static 'frontend/images/lobbycard.jpg' %}" height="500px" data-start="1200" data-ratex=".75" data-ratey="0" data-direction="left">
    </div>
    <blockquote class="early-career__quote" cite="http://www.worldwildlife.org/who/index.html">
            “She should be seen again and often on the screen.”
    </blockquote>
</section>
<section class="toll-sea">
</section>
<section class="stardom">
    <div class="gradient-top"></div>
    <div class="stardom__grid-container">
        <div>
            <img src="{% static 'frontend/images/annamaywong_portrait1.png' %}">
            <div>
                <h2>STARDOM</h2>
                <div class="early-career__text--body">
                    <div class="early-career__text-line"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl condimentum id venenatis a condimentum vitae. Purus viverra accumsan in nisl nisi. Netus et malesuada fames ac turpis. Risus nec feugiat in fermentum posuere urna. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Suspendisse faucibus interdum posuere lorem. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium.<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl condimentum id venenatis a condimentum vitae. Purus viverra accumsan in nisl nisi. Netus et malesuada fames ac turpis. Risus nec feugiat in fermentum posuere urna. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Suspendisse faucibus interdum posuere lorem. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. </p>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static 'frontend/images/mag_cover.png' %}">
            <img src="{% static 'frontend/images/film_song.jpg' %}">
            <img src="{% static 'frontend/images/film_piccadilly.jpg' %}">
        </div>
        <div>
            <img src="{% static 'frontend/images/Sessue_Hayakawa.jpg' %}">
            <img src="{% static 'frontend/images/photobooth.jpg' %}">
        </div>
    </div>
    <div class="gradient-bottom"></div>
</section>
<section class="quote">
    <div class="quote__img__container" >
        <img class="quote__img" src="{% static 'frontend/images/anna-may-wong-w-dacshund.png' %}">
    </div>
    <blockquote class="quote__quote" cite="http://www.worldwildlife.org/who/index.html">
            “No, I am wedded to my art.”
    </blockquote>
</section>
<section class="legacy">
    <div>
        <h2>HER LEGACY</h2>
        <div class="early-career__text--body">
            <div class="early-career__text-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl condimentum id venenatis a condimentum vitae. Purus viverra accumsan in nisl nisi. Netus et malesuada fames ac turpis. Risus nec feugiat in fermentum posuere urna. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Suspendisse faucibus interdum posuere lorem. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium.<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl condimentum id venenatis a condimentum vitae. Purus viverra accumsan in nisl nisi. Netus et malesuada fames ac turpis. Risus nec feugiat in fermentum posuere urna. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Suspendisse faucibus interdum posuere lorem. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. </p>
        </div>
    </div>
    <div>
        <span class="circle"></span>
        <img src="{% static 'frontend/images/annamaywong_sister.png' %}">
    </div>
</section>
<footer>
    <ul>
        <li><a href="#">Biography</a></li>
        <li><a href="/films/">Filmography</a></li>
        <li><a href="/gallery/">Gallery</a></li>
    </ul>
</footer>
<script type="text/javascript" src="{% static 'frontend/script.js' %}"></script>
</body>
</html>